.root
  padding: 5px;
  width: 300px;
  abbr
    border-bottom: 0;
    text-decoration: none;
  table
    width: 100%
  thead
    width: 98%
  th, td
    padding:  0.25rem 
    text-align: center
.header
  display: flex;
  flex-direction: row;
  .previous-month,
  .next-month {
    color: #9b9b9b;
    cursor: pointer;
    padding: 5px;
    user-select: none;
    width: 40px;
    &:hover {
      color: #000
    }
  }
  .next-month {
    text-align: right
  }
  .month-year {
    flex: 2
    font-weight: bold
    text-align: center
  }
.day-empty
    cursor: default
.day-today
    font-weight: bold
.day,.day-today,.day-active
    cursor: pointer
    &:hover
      background-color: #ddffd3
      border-radius: 1px 
